PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/lomix"
JWT_SECRET="your_very_secret_key"
GOOGLE_CLIENT_ID="your_google_id"

# Email Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="Lomix Live <your_email@gmail.com>"

# Logging
LOG_CHANNELS=console,file,database

SSL_KEY_PATH=/root/lomix-admin/ssl/privkey.pem
SSL_CERT_PATH=/root/lomix-admin/ssl/fullchain.pem
